<footer>
  <!-- <button class="about" type="button" onclick="window.open('/about');">about</button>
  <button class="about" type="button" onclick="window.open('/work', '_blank');">View Example Page</button> -->
  copyright @ The Pandey's
</footer>
</body>
</html>
